name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9
      - name: Build Expenses
        run: dotnet build ./src/Services/Expenses/Expenses.sln
      - name: Build Notifications
        run: dotnet build ./src/Services/Notifications/Notifications.sln
      - name: Test
        run: dotnet test ./tests/UnitTests/UnitTests.csproj
